.yes{background-image:url(img/7924155.webp);background-attachment: fixed;background-size: cover;background-position: center;padding: 0px;margin: 0px;}
    .div1{display: flex; width: 100%;flex-direction: column;justify-content: center;align-items: center;}
    .do{margin-top: 50px;max-width: 650px;height: 40px;font-size: 25px;color: rgb(68, 70, 70);font-family: sans-serif;border-radius: 5px;box-shadow: inset 1px 1px 0.4px rgba(0, 0,0, 0.5);flex: 1;}
    .do::placeholder{padding: 80px;}
    .user{ color: black;font-size: 23px;padding: 1px;}
    .showtext{display:flex;flex-direction:column;padding-top: 90px;border: solid;background-color: rgb(233, 234, 234);animation: show 1 3s ease-in;animation-fill-mode: forwards;width: 450px;}
    .sub{display: flex;flex-direction: row;margin-top: 5px;margin-left: 5px;background-color: rgb(250, 245, 245);width: 250px;border-radius: 10px;height: 60px;justify-content: center;align-items: center;gap: 20px;margin-top: 20px;}
    .tosee{width: 18px;}
    p{margin: 10px;}
    .last{display: flex;flex-direction: row;justify-content: end;position: absolute;bottom: 0;right: 0;}
    .man{margin-right: 10px;background-color: rgb(226, 18, 18);border: none;border-radius: 5px;font-weight: 600;background-image: url(img/0DEldGQ.webp);color: white;width: 150px;height: 30px;}
    .myblood{color: white;font-weight: 600;background-image: url(img/5816704-1920x1080-desktop-hd-cool-anime-background-photo.webp);border-radius: 7px;}
   
    .pimage{background-image:url(button/pixel-art-rural-landscape-background_52683-125379.avif) ;background-size: cover;background-position: left;}
    .pimage2{background-image:url(button/pixel-art-vacation-background_52683-86708.avif) ;background-size: cover;background-position: left;}
     .yes1,.white{background-image:url(img/myblood.webp);background-size: cover;background-position: right;}
    .yes2,.black{background-image:url(img/manofculture.gif) ;background-size: cover;background-repeat: no-repeat;}
.heading{font-size: 80px;margin: 0px;text-align: center;}
.ta{border: solid;height: 100%;width: 100%;position: relative;}
.contain{display: flex;overflow: hidden;height:100%}
.time{color: white;font-size: 50px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight: 700;margin: 0;margin-top: 70px;}
body{margin: 0px;position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
.display{display: none;}
@keyframes show {0%{margin-left: -450px;}}

.input{display: flex;width: 100%;justify-content: center;}

